* {
  margin: 0px;
  padding: 0px;
}

.Heading {
  height: 600px;
  display: flex;
  background: url(../Photos/photo2.jpg);
  opacity: 2;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: fixed;
  overflow: hidden;
}

.left-container {
  width: 80%;
}

.text {
  margin-top: 300px;
  text-align: center;
 
  margin-left: 500px;
  color: white;
  background-color: rgba(128, 128, 128, 0.584);
  position: absolute;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

.text h1{
  font-size: 50px;
  /* font-weight: bold; */
  font-style:italic;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.right-container {
  width: 15%;
  display: flex;
  margin-left: 100px;
}


.loginButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 50px;
  margin-top: 10px;
  background: none;
  border: none;
  font-size: 20px;
  transition: 0.5s;
 
}
.loginButton a{
  text-decoration: none;
}

.loginButton:hover {
  font-size: 23px;
  border-bottom: 1px solid black;
}

.nav-bar {
  display: flex;
  height: 45px;
}

.left-nav-bar {
  display: flex;
  width: 50%;
  justify-content: space-evenly;
  background-color: #404041;
  align-items: center;
}
.nav-bar .left-nav-bar a{
  text-decoration: none;
  color:white;
}
.nav-bar .right-navbar a{
  text-decoration: none;
  color:white;
}
.right-navbar {
  display: flex;
  width: 50%;
  background-color: #F04B47;
  align-items: center;

}

.right-container a {
  text-decoration: none;
}

.left-nav-bar a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  transition: 0.5s;
}

.left-nav-bar a:hover {
  /* background-color: grey; */
  font-size: 23px;
}

.right-navbar a {
  margin-left: 100px;
  font-size: 20px;
  transition: 0.5s;
}

.right-navbar a:hover {
  /* background-color: rgba(128, 128, 128, 0.604); */
  font-size: 23px;
}




.slider-container {
    position: relative;
    width: 100%;
    margin-top:50px;
    margin-bottom:50px;
}

.h1{
    font-style: blue-fonte;
}


.footer1 {
    background-color: #F04B47;;
    height: 230px;
    display: flex;
    justify-content: space-evenly;
}

.foot1 {
    margin-top: 20px;
}

.foot1 h6 {
    font-size: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

.foot1 p {
    color: white;
    margin: 10px;
    text-align: center;
}

.foot1 p a {
    text-decoration: none;
    color: white;
}


.footer2 {
    /* background-color: rgb(238, 219, 219); */
    height: 10px;
    /* text-align: center; */
    padding: 15px;
    font-size: 15px;
    color: #4D4D4D;
    font-weight: bold;
    display:flex;
    justify-content: space-between;
}

.copyright{
    width:300px;
    height:70px;
    margin-top:18px;
    /* background-color: red; */
}

.foot2 {
    margin-top: 20px;
}

.foot2 p {
    color: white;
}

.foot2 h6 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
    text-align: center;
}

.fa {
    padding: 10px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 30px;
    margin-left: 10px;
    margin-top: 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    background: #3B5998;
    color: white;
}

.fa-twitter {
    background: #55ACEE;
    color: white;
}

.fa-google {
    background: #dd4b39;
    color: white;
}

.fa-linkedin {
    background: #007bb5;
    color: white;
}

.fa-instagram {
    background: #125688;
    color: white;
}


  .profile-img{
    text-align: center;
  }
  .profile-img img{
    width: 70%; 
     height: 100%;
  }
  .profile-img .file {
    position: relative;
    overflow: hidden;
    border: none;
    border-radius: 0;
    font-size: 15px;
    background: #212529b8;
  }
  
  .profile-head h5{
    color: #333;
  }
  .profile-head h6{
    color: #0062cc;
  }
  .profile-edit-btn{
    border: none;
    border-radius: 1.5rem;
    width: 70%;
    padding: 2%;
    font-weight: 600;
    color: #6c757d;
    cursor: pointer;
  }
  .proile-rating{
    font-size: 12px;
    color: #818182;
    margin-top: 5%;
  }
  .proile-rating span{
    color: #495057;
    font-size: 15px;
    font-weight: 600;
  }
  .profile-head .nav-tabs{
    margin-bottom:5%;
  }
  .profile-head .nav-tabs .nav-link{
    font-weight:600;
    border: none;
  }
  .profile-head .nav-tabs .nav-link.active{
    border: none;
    border-bottom:2px solid #0062cc;
  }
  .profile-work{
    padding: 14%;
    margin-top: -15%;
  }
  .profile-work p{
    font-size: 12px;
    color: #818182;
    font-weight: 600;
    margin-top: 5%;
  }
  .profile-work a{
    text-decoration: none;
    color: #495057;
    font-weight: 600;
    font-size: 14px;
  } */
  .profile-work ul{
    list-style: none;
  }
  .profile-tab label{
    font-weight: 600;
  }

  .image{
    text-align: center;
  }

  .image img{
    width:1000px;
  }

.typing{

  font-family: 'Poppins', sans-serif;
  font-family: 'Rubik';
  margin-top:50px;
  display:flex;
  justify-content: center;
}

.typing h1{
  color:red;
  /* font-family: cursive; */
  font-size: 80px;
}
